/*Сделать весь текст невыделяемым*/
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Отключить стандартные отступы тела страницы*/
body {
  margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.scene{
  width: 960px;
  height: 560px;
  border: 6px solid #8BC34A;
  border-radius: 12px;
  background-color: rgb(252, 243, 205);
  position: relative;
  margin: 0 auto;
  top: 30px;
}

.scene .title {
  display: inline-block;
  position: relative;
  font-size: 36px;
  color: #464242;
  top: 10px;
}

.setka {
  width: 375px;
  height: 375px;
  position: relative;
  margin: 30px;
}

.setka .b1{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  border-right: none;
  border-bottom: none;
  float: left;
}

.setka .b2{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  border-bottom: none;
  border-right: none;
  float: left;
}

.setka .b3{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  border-bottom: none;
  float: left;
}

.setka .b4{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  border-right: none;
  border-bottom: none;
  float: left;
}

.setka .b5{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  border-right: none;
  border-bottom: none;
  float: left;
}

.setka .b6{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  border-bottom: none;
  float: left;
}

.setka .b7{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  border-right: none;
  float: left;
}

.setka .b8{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  border-right: none;
  float: left;
}

.setka .b9{
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  float: left;
}

.box {
  width: 380px;
  height: 380px;
  margin-left: 550px;
  margin-top: -410px;
  position: absolute;
}

.box .img1{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/0_0.png');
  float: left;
}

.box .img2{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/0_1.png');
  float: left;
}

.box .img3{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/0_2.png');
  float: left;
}

.box .img4{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/1_0.png');
  float: left;
}

.box .img5{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/1_1.png');
  float: left;
}

.box .img6{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/1_2.png');
  float: left;
}

.box .img7{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/2_0.png');
  float: left;
}

.box .img8{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/2_1.png');
  float: left;
}

.box .img9{
  margin: 2px;
  width: 120px;
  height: 120px;
  background-image: url('../img/2_2.png');
  float: left;
}

button{

}
