/*Сделать весь текст невыделяемым*/
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Отключить стандартные отступы тела страницы*/
body {
  margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.scene{
  width: 960px;
  height: 560px;
  border: 6px solid #8BC34A;
  border-radius: 12px;
  background-color: rgb(252, 243, 205);
  position: relative;
  margin: 0 auto;
  top: 30px;
}

.scene .title {
  display: inline-block;
  position: relative;
  font-size: 36px;
  color: #464242;
  top: 10px;
}

.box1{
  width: 950px;
  height:420px;
  display: inline-block;
  padding-top: 25px;
}

.setka {
  width: 360px;
  height: 360px;
  display: inline-block;
}

.setka .b{
  width: 120px;
  height: 120px;
  float: left;
  border: 1px solid blue;
  box-sizing: border-box;
}

.setka .b0{
  border-right: none;
  border-bottom: none;
}

.setka .b1{
  border-bottom: none;
  border-right: none;
}

.setka .b2{
  border-bottom: none;
}

.setka .b3{
  border-right: none;
  border-bottom: none;
}

.setka .b4{
  border-right: none;
  border-bottom: none;
}

.setka .b5{
  border-bottom: none;
}

.setka .b6{
  border-right: none;
}

.setka .b7{
  border-right: none;
}

.box {
  width: 360px;
  height: 360px;
  position: relative;
  display: inline-block;
  margin-left: 150px;
}

.box .img{
  position: absolute;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
}

.box .img0{
  background-image: url('../img/0_0.png');
}

.box .img1{
  background-image: url('../img/0_1.png');
}

.box .img2{
  background-image: url('../img/0_2.png');
}

.box .img3{
  background-image: url('../img/1_0.png');
}

.box .img4{
  background-image: url('../img/1_1.png');
}

.box .img5{
  background-image: url('../img/1_2.png');
}

.box .img6{
  background-image: url('../img/2_0.png');
}

.box .img7{
  background-image: url('../img/2_1.png');
}

.box .img8{
  background-image: url('../img/2_2.png');
}
